.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: 0px;
  margin: auto;
}
::-webkit-scrollbar {
  display: none
}