.search-button {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50vw;
  height: 10vh;
  background-color: #002A32;
  font-size: 1em;
  border: none;
  color: whitesmoke;
}

.collection-button {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50vw;
  height: 10vh;
  background-color: #002A32;
  font-size: 1em;
  border: none;
  color: whitesmoke;
}
#home-card {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#tab-buttons {
}
